# This File is used to create a list of requirements needed for testing stratum-mining or to create a clone install
#MySQL-python==1.2.3
MySQL-python
x13bcd_hash
twisted==16.3
argparse==1.2.1
autobahn==17.10.1
python-memcached==1.48
simplejson==2.5.2
zope.interface==3.6.1
# stratum
https://github.com/jexpools/stratum/archive/master.zip
service_identity

#twisted==16.3
#autobahn==0.5
#autobahn==17.10.1


